@model IEnumerable<EmPoderTIC.Models.NOTIFICACION>

@{
    ViewBag.Title = "Index";

}

@if (Session["TipoPerfil"] != null && Session["TipoPerfil"].ToString() == "Administrador")
{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}


@if (Session["TipoPerfil"] != null && Session["TipoPerfil"].ToString() == "Administrador")
{
    <iframe id="externalPage" src="https://badgr.com/auth/login" style="width: 100%; height: 800px;"></iframe>


    <script>
      {
            var iframe = document.getElementById("externalPage");
            iframe.src = "https://badgr.com/auth/login";
        });
    </script>

}

else
{
    <link rel="stylesheet" href="~/Content/css/accesodenegado.css">
    <div id="header">
        <h1> Acceso denegado. Esta vista solo está disponible para Administrador</h1>
        <br />
        <a href="@Url.Action("Login", "Account")" class="btn-acceso">Iniciar Sesión</a>
    </div>
}