
@{
    ViewBag.Title = "Contáctanos";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

<link href="~/Content/css/contacto.css" rel="stylesheet" />

<div class="contact-container">
    <div class="inner-container">
        <header class="contact-header">
            <h1>Contáctanos</h1>
        </header>

        <div class="contact-info">
            <p>Escríbenos a: EmPoderTIC@gmail.com</p>
        </div>

        <div class="motivos">
            <p>¿En qué podemos ayudarte?</p>
            <ul>
                <li>Solicitar la eliminación de tu cuenta</li>
                <li>Actualizar o corregir información de tu perfil</li>
                <li>Reportar un problema o error en la plataforma</li>
                <li>Realizar sugerencias para mejorar la experiencia</li>
                <li>Solicitar asistencia técnica</li>
            </ul>
        </div>
    </div>
</div>