@{
    ViewBag.Title = "Instructivo";

}


@if (Session["TipoPerfil"] != null && Session["TipoPerfil"].ToString() == "Administrador")
{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}


@if (Session["TipoPerfil"] != null && Session["TipoPerfil"].ToString() == "Administrador")
{
    <link rel="stylesheet" href="~/Content/css/instructivo.css">

    <header>
        <h1>Instructivo del Panel de Administrador</h1>
    </header>

    <div class="container">

        <div class="section">
            <h2>Gestión de Usuarios</h2>
            <p>En esta sección, tienes la capacidad de gestionar a los usuarios, permitiéndote crear, editar y desactivar cuentas de usuario. Es fundamental asignar roles apropiados de acuerdo con los perfiles correspondientes, teniendo en cuenta que los perfiles están asociados a los dominios de los correos institucionales de la siguiente manera:</p>

            <ul>
                <li><strong>Estudiante y/o Titulado:</strong> Dominio: duoc.cl</li>
                <li><strong>Docente:</strong> Dominio: profesor.duoc.cl</li>
                <li><strong>Colaborador administrativo:</strong> Dominio: duoc.cl</li>
            </ul>

            <p>Asegúrate de asignar los roles correspondientes de manera precisa, considerando los perfiles asociados a los dominios de los correos electrónicos mencionados.</p>

        </div>

        <div class="section">
            <h2>Notificaciones</h2>
            <p>
                En esta sección, podrás consultar la lista de notificaciones activas que los usuarios han enviado en relación con solicitudes de insignias y certificaciones. Además,
                tendrás la capacidad de gestionar estas notificaciones al editar su estado de solicitud, asegurándote de revisar y completar cada solicitud de manera adecuada.
            </p>
            <p>
                Como administrador, es tu responsabilidad deshabilitar las notificaciones una vez que hayas procesado la solicitud del usuario. Esto garantizará que la notificación
                ya no aparezca en la lista de notificaciones activas, permitiéndote cumplir con todas las notificaciones pendientes de manera eficiente.
            </p>
        </div>

        <div class="section">
            <h2>Áreas de Conocimientos</h2>
            <p>
                En esta sección, tendrás la capacidad de crear y editar áreas de conocimiento. Cada área de conocimiento estará compuesta por tres competencias asociadas. Estos conceptos
                son fundamentales, ya que estarán directamente vinculados con los eventos del programa "Más Mujeres en las TICs". Además, cada área de conocimiento se relacionará con las
                insignias otorgadas durante dichos eventos, junto con el certificado final correspondiente a la respectiva área. La creación y edición de estas áreas.
            </p>
            <p>
                La creación y edición de estas áreas de conocimiento permitirán una gestión más eficiente de la información clave, asegurando una integración  adecuada con los eventos
                y las insignias asociadas, así como la emisión de certificados finales vinculados a cada área específica de conocimiento.
            </p>
            <p>Dentro de esta sección, encontrarás la opción de gestionar las competencias relacionadas a las áreas, lo que te permitirá crear y editar estas competencias de manera sencilla.</p>
        </div>
        <div class="section">
            <h2>Eventos</h2>
            <p>
                En esta sección, tendrás la capacidad de crear y editar eventos pertenecientes al Programa "Más Mujeres en las TICs". Además, encontrarás la opción de visualizar los usuarios
                con perfiles de Estudiante y/o Titulado que están inscritos para asistir a estos Eventos.
            </p>
        </div>
        <div class="section">
            <h2>Insignias</h2>
            <p>En esta sección, tendrás la capacidad de crear, editar y habilitar o desabilitar insignias asociadas a áreas, competencias, tipos de perfil y eventos específicos. Deberás proporcionar un nombre, descripción y objetivo para cada insignia, que posteriormente se otorgará a los usuarios a través de la plataforma EmPoderTIC.</p>
        </div>

        <h1>Mecanismos de Otorgamiento</h1>
        <div class="section">
            <h2>Asistencia</h2>
            <p>
                En esta sección, podrás crear y editar la asistencia vinculada a usuarios con el perfil de Estudiante y/o Titulado. La tabla correspondiente a la asistencia será la encargada de determinar
                la elegibilidad para la obtención de insignias, basándose en la participación de los usuarios en los eventos asociados a cada insignia.
            </p>
        </div>
        <div class="section">
            <h2>Otorgar Insignias Perfil 2 y 3</h2>
            <p>
                En estas secciones, tendrás la capacidad de conceder el control para la asignación de Insignias a los perfiles de Docente y Colaborador Administrativo que hayan participado activamente en el
                programa, ya sea colaborando, organizándolo, entre otras contribuciones. Deberás definir claramente su aportación al evento asociado a la Insignia que se pretende otorgar, evaluando
                así si cumplen con los criterios establecidos y merecen la Insignia correspondiente.
            </p>
        </div>
        <div class="section">
            <h2>Gestión de Certificados</h2>
            <p>
                En esta sección, podrás crear y editar certificados. Es importante tener en cuenta que cada insignia se clasifica en niveles: "Principiante", "Intermedio" y "Avanzado". Las insignias de nivel
                avanzado estarán vinculadas a certificados destinados a usuarios que hayan cumplido con los requisitos y desbloqueado todas las insignias correspondientes a un área de conocimiento.
            </p>

            <p>Además, en esta misma sección, encontrarás la opción de gestionar certificados para usuarios, permitiéndote crear y editar certificados específicos para cada usuario.</p>

            <p>
                Dentro de la sección anterior, "Gestión de Certificados para Usuarios", se encuentra la Lista de Certificados Generados. Como administrador, tendrás la opción
                de generar certificados, para lo cual deberás descargar la estructura base del certificado en formato PDF y ubicarla en la ruta pública local. Asegúrate de tener la estructura
                del PDF en: C:\Users\Public\Downloads\Certificado_Estructura.pdf
            </p>

        </div>

        <div class="section">
            <a href="/Instructivo/PortalBadges" class="btn-continuar">Continuar al Siguiente Paso >></a>
        </div>
    </div>

}

else
{
    <link rel="stylesheet" href="~/Content/css/accesodenegado.css">
    <div id="header">
        <h1> Acceso denegado. Esta vista solo está disponible para Administrador</h1>
        <br />
        <a href="@Url.Action("Login", "Account")" class="btn-acceso">Iniciar Sesión</a>
    </div>
}



